* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: #18142f !important;
}

.bodydia {
    background: #fafafa !important;
}

header {
    background-color: #282248;
    display: flex;
    justify-content: space-between;
    padding: 25px 10px;
}

.headerdia {
    background-color: white !important;
}

header ul {
    display: flex;
    align-items: center;
}

header img {
    padding-right: 30px;
    padding-left: 3px;
}

header .nav li a {
    font-family: 'Asap', sans-serif;
    color: #c6c2dd;
    text-decoration: none;
}

header .navdia li a {
    font-family: 'Asap', sans-serif;
    color: black;
    text-decoration: none;
}

#logonoche {
    display: block;
}

#logodia {
    display: none;
}

input[type="checkbox"].ios8-switch {
    position: absolute;
    margin: 8px 0 0 16px;    
}
input[type="checkbox"].ios8-switch + label {
    position: relative;
    padding: 5px 0 0 50px;
    line-height: 2.0em;
}
input[type="checkbox"].ios8-switch + label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px; /* x*5 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:after {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 24px; /* x*3 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:hover:after {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch:checked + label:after {
    margin-left: 16px;
}
input[type="checkbox"].ios8-switch:checked + label:before {
    background: #3f1b83;
}

.checkbox {

    margin-left: 30px;

}
/* SMALL */

input[type="checkbox"].ios8-switch-sm {
    margin: 5px 0 0 10px;
}
input[type="checkbox"].ios8-switch-sm + label {
    position: relative;
    padding: 0 0 0 32px;
    line-height: 1.3em;
}
input[type="checkbox"].ios8-switch-sm + label:before {
    width: 25px; /* x*5 */
    height: 15px; /* x*3 */
    border-radius: 10px; /* x*2 */
}
input[type="checkbox"].ios8-switch-sm + label:after {
    width: 15px; /* x*3 */
    height: 15px; /* x*3 */
    border-radius: 10px; /* x*2 */
}
input[type="checkbox"].ios8-switch-sm + label:hover:after {
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch-sm:checked + label:after {
    margin-left: 10px; /* x*2 */
}

/* LARGE */

input[type="checkbox"].ios8-switch-lg {
    margin: 10px 0 0 20px;
}
input[type="checkbox"].ios8-switch-lg + label {
    position: relative;
    padding: 7px 0 0 60px;
    line-height: 2.3em;
}
input[type="checkbox"].ios8-switch-lg + label:before {
    width: 50px; /* x*5 */
    height: 30px; /* x*3 */
    border-radius: 20px; /* x*2 */
}
input[type="checkbox"].ios8-switch-lg + label:after {
    width: 30px; /* x*3 */
    height: 30px; /* x*3 */
    border-radius: 20px; /* x*2 */
}
input[type="checkbox"].ios8-switch-lg + label:hover:after {
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch-lg:checked + label:after {
    margin-left: 20px; /* x*2 */
}




.fa-star {
    color: #fcd127;
}

.buscar-user {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.buscar {
    width: 200px;
    padding-right: 30px;
    position: relative;
    display: block;
}

.buscar .form-control {
    background-color: #18142f;
    border-color: #443d68;
    border-radius: 2rem;
    padding-left: 1rem;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #607D8B;
}

.buscar .form-control:focus-visible {
    background-color: #18142f;
    color: #7b7b7c;
}

.buscar .form-control2 {
    background-color: transparent;
}

.buscar .form-control2:focus-visible {
    background-color: transparent;
    color: #7b7b7c;
}

.lupa {
    display: block;
    position: absolute;
    color: #7b7b7c;
    margin-bottom: .05rem;
    margin-right: 5.3rem;
}

.buscar .form-control::placeholder {
    color: #7b7b7c;
}

.user {
    width: 40px;
    height: 40px;
    background-color: #41a6ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user .fa-user {
    color: white;
}

.user:hover {
    cursor: pointer;
    background-color: #295c8a;
}

.titulo {
    padding-top: 40px;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    padding-bottom: 30px;
}

.titulo h1 {
    font-family: 'Asap', sans-serif;
    color: white;
    font-size: 30px;
}

.titulodia {
    color: black !important;
}

.titulo .fa-solid {
    color: #37d1a2;
    padding-right: 13px;
}

.padre1 {
    width: 90%;
    display: flex;
}


.container1 .aside {
    margin-left: 20px;
    width: 16vw;
    height: 87vh;
    background-color: #1f1a3a;
    color: #c6c2dd;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.asidedia {
    background: white !important;
    box-shadow: 1px 1px 10px #000000;
}

.cont {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.cont label {
    font-size: 12px;
    padding: 10px;
}

.cont input, .cont select {
    background-color: #18142f;
    border: none;
    border: 1px solid #443d68;
    padding-left: 1rem;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #7b7b7c;
}

.asidedia input, .asidedia label {
    background-color: transparent;
    color: black;
}

.asidedia select {
    background-color: transparent;
}

.cont-range label {
    font-size: 12px;
    margin-left:  25px;
}

.btn-buscar, .btn-limpiar {
    padding: 8px;
    border-radius: 5px;
}

.btn-buscar {
    background-color: #41a6ff;
    border: none;
    color: white;
}

.btn-limpiar {
    color: #c6c2dd;
    background-color: #443d68;
    border: none;
    margin-top: 12px;
}



.container2 .main {
    margin-left: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cajas {
    width: 200px;
    font-size: 15px;
    color: white;
}

.cajasdia p {

    color: black;
}

.cajas img {
    width: 207px;
    height: 311px;
    padding-bottom: 10px;
    border-radius: 5%;
}
